################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GringottsBank/obj
/GringottsBank/.vs/GringottsBank
/GringottsBank/bin/Debug/net5.0
